@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500;600&display=swap");
/* font-family: 'Lexend', sans-serif; */

*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
    width: 100%;
}




.box1 {
  display: flex;
  justify-content: center;
}
.box1-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 42px;
  background-color: rgb(234, 255, 250);
  z-index: 10;
}
.logo {
  display: block;
}
.logo__img {
  width: 182px;
  height: 19px;
}
.box1__menu{
  width: 70%;
  display: flex;
  justify-content: end;
}
.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.menu__link {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #18181B;
}
.menu__link:hover {
  color: rgb(64, 218, 172);
}
.box1__signup {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #01271C;
  border: 0;
  border-radius: 4px;
  padding: 10px 10px;
  background-color: rgba(76, 253, 199, 1);
}
.box1__signup:hover {
  background-color: rgb(64, 218, 172);
}
.box1__signup:active {
  background-color: rgba(76, 253, 199, 1);
}
.box1__burger-btn {
  display: none;
  position: relative;
  width: 37px;
  height: 37px;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.box1__burger-btn span {
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: #01271C;
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
  border-radius: 4px;
}
.box1__burger-btn span:nth-child(1) {
  transform: translateY(-8px);
}
.box1__burger-btn span:nth-child(3) {
  transform: translateY(8px);
}
.box1.open .box1__burger-btn span {
  background-color: white;
}
.box1.open .box1__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.box1.open .box1__burger-btn span:nth-child(2) {
  opacity: 0;
}
.box1.open .box1__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}




.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, .3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}
.modal__box {
  position: relative;
  max-width: 500px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform .8s;
  border-radius: 4px;
}
.modal__box img{
  width: 182px;
  height: 19px;
  margin-top: 5%;
  margin-left: 36px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
.modal__close-btn svg path {
  transition: fill .4s;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal__box {
  transform: scale(1);
}
.signtxt{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000000;
  background-color: #FAFAFA;
  border-radius: 0px;
  margin-top: 5%;
}
.signtxt h3{
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0px 36px;
}
form{
  margin-top: 2%;
  margin-left: 36px;
  display: flex;
  flex-direction:column;
  width: 85%;
}
input[type="email"],
input[type="password"]{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
} 
input::placeholder[type="email"],
input::placeholder[type="password"] {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.5;
}
input::placeholder[type="button"] {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  color: #01271C; 
  background-color: #FFFFFF;
}
.form__input{
  padding-left: 19px;
  height: 61px;
  max-width: 427px;
  background: #4CFDC7;
  border: 1px solid #4CFDC7;
  border-radius: 4px;
  margin-top: 20px;
}
:focus::-webkit-input-placeholder {
  color: transparent
}
:focus::-moz-placeholder {
  color: transparent
}
:focus:-moz-placeholder {
  color: transparent
}
:focus:-ms-input-placeholder {
  color: transparent
}
input[type="button"]{
  padding-left: 19px;
  height: 61px;
  max-width: 427px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1px;
  text-decoration-line: underline;
  color: #01271C; 
  background-color: #FFFFFF;
  cursor: pointer;;
  margin-top: 20px;
}
input[type="button"]:hover{
  color: rgb(64, 218, 172);
}
input[type="button"]:active{
  color: #01271C;
}





.box2 {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  background-color: #FAFAFA;
  padding-top: 5%;
}
.box2-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.box2-one{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.box2-one h2{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 71px;
  line-height: 90px; 
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 7%;
}
.box2-one p{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #27272A;
  margin-bottom: 4%;
}
.box2-one img{
  width: 155px;
  height: 22px;
}
.box2-two{
  
}



.tabs {
  margin-top: 10%;
}
.tabs__nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 255, 250);
  padding-top: 1%;
  padding-bottom: 1%;
}
.tabs__nav-btn{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1px; 
  color: #01271C;
  border: 0;
  border-radius: 0;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(76, 253, 199, 1);
  border-right: 1px solid rgb(64, 218, 172);
  cursor: pointer;

}
.tabs__nav-btn:last-child {
  border-right: none;
}
.tabs__nav-btn:hover {
  background-color: rgb(64, 218, 172);
}
.tabs__nav-btn.active {
  background-color: rgb(64, 218, 172);
  border-right-color: rgb(64, 218, 172);
  color: #fff;
}
.tabs__content {
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}











.box3 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.box3-3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
  border-radius: 0px;
  padding-left: 2%;
  padding-right: 2%;
}
.box3-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3%;
  margin-bottom: 2%;
}
.txt3-one-1{
  margin-right: 5%; 
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #18181B; 
  cursor: pointer;
}
.txt3-one-1:hover{
  color: rgb(64, 218, 172);
}
.txt3-one-2{
  margin-right: 5%;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #71717A;
  cursor: pointer;
}
.txt3-one-2:hover{
  color: rgb(64, 218, 172);
}
.box3-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top:  rgba(244, 244, 245, 1) 1px solid;
  padding-top: 2%;
  margin-bottom: 1%;
}
.txt3-two-1 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #18181B;
  width: 30%;
}
.txt3-two-2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #18181B;
  width: 30%;
}
.txt3-two-3 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #18181B;
  width: 20%;
}
.txt3-two-4 {
  width: 10%;
}
.box3-three{
  display: flex;
  flex-direction: row;
  border-top:  rgba(244, 244, 245, 1) 1px solid;
  justify-content: space-around;
  padding-top: 3%;
  margin-bottom: 3%;
}
.box3-four{
  display: flex;
  flex-direction: row;
  border-top:  rgba(244, 244, 245, 1) 1px solid;
  justify-content: space-around;
  padding-top: 3%;
  margin-bottom: 3%;
}
.box3-five{
  display: flex;
  flex-direction: row;
  border-top:  rgba(244, 244, 245, 1) 1px solid;
  justify-content: space-around;
  padding-top: 3%;
  margin-bottom: 3%;
}
.box3-six{
  display: flex;
  flex-direction: row;
  border-top:  rgba(244, 244, 245, 1) 1px solid;
  justify-content: space-around;
  padding-top: 3%;
  margin-bottom: 3%;
}
.box3-seven{
  display: flex;
  flex-direction: row;
  border-top:  rgba(244, 244, 245, 1) 1px solid;
  justify-content: space-around;
  padding-top: 3%;
  margin-bottom: 3%;
}
.box3-three-item-1 {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box3-three-item-1 img{
  width: 32px;
  height: 32px;
  margin-right: 5%;
}
.box3-three-item-1 p{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #18181B;  
}
.box3-three-item-2 {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box3-three-item-2 h3{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #18181B; 
  margin-right: 2%; 
}
.box3-three-item-2 p{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #A1A1AA;
}
.box3-three-item-3 {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box3-three-item-3 h4{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #10B981;
  margin-right: 5%;
}
.box3-three-item-3 h5{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F43F5E;
  margin-right: 5%;
}
.box3-three-item-3 img{
  width: 16px;
  height: 16px;
}
.box3-button {
  display: flex;
  width: 10%;
  align-items: center;
}
.box3-three-button {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1px; 
  color: #01271C;
  border: 0;
  border-radius: 4px;
  padding: 15% 30%;
  background-color: rgba(76, 253, 199, 1);
}
.box3-three-button:hover {
  background-color: rgb(64, 218, 172);
}
.box3-three-button:active {
  background-color: rgba(76, 253, 199, 1);
}
.hide3{
  opacity: 0;
  visibility: hidden;
  max-height: 0px;
  padding: 0;
  margin: 0;
  transition: opacity 1s, visibility 0s 1s, max-height 1s ease-in-out, padding 1s, margin 1s;
}

.uput3{
  opacity: 1;
  visibility: visible;
  padding-top: 3%;
  margin-bottom: 3%;
  transition: opacity 1s, visibility 1s 0s, max-height 1s ease-in-out, padding 1s, margin 1s;
}
.hide3__all{
  opacity: 0;
  visibility: hidden;
  max-height: 0px;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s, visibility 0s 0.5s, max-height 0.5s ease-in-out, padding 0.5s, margin 0.5s;
}
/* 
.info3-tab .hide{
  display: none;
}
.info3-tab .show{
  display: block;
}
.fade{
  animation: fade 2.5s;
  -webkit-animation: fade 2.5s;
}
.active {
  transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.8);
}
@keyframes fade{
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
} */



.box4 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background-color: #FAFAFA;
  padding-top: 9%;
  padding-bottom: 9%;
}
.box4-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.box4-one {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  
}
.box4-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 9%;
}

.box4-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.box4-item img{
  width: 72px;
  height: 72px;
  margin-bottom: 7%;
}
.box4-item h3{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center; 
  color: #18181B;
  margin-bottom: 10%;
}
.box4-item p{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #27272A;
}



.accordion {
	width: 500px;
	margin-bottom: 10px;
}
.accordion__control {
	width: 100%;
	background-color: transparent;
	cursor: pointer;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #18181B; 
  margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.accordion__content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0 20px;
	will-change: max-height;
	transition: all 0.3s ease-out;
	box-sizing: content-box;
}
.accordion__title {
	font-weight: bold;
	font-size: 1.17em;
}
.accordion__icon {
	transition: transform 0.4s ease-out;
}
.open .accordion__icon {
	transform: rotate(45deg);
}
.open .accordion__content {
	opacity: 1;
	padding: 20px;
}
.accordion__icon {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #4CFDC7;
}
.accordion__icon::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 1px;
	background-color:#01271C;
	transform: translate(-50%, -50%);
}
.accordion__icon::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1px;
	height: 50%;
	background-color: #01271C;
	transform: translate(-50%, -50%);
}
.accordion__content {
	padding: 5px;
	border: 1px solid #4CFDC7;
	border-top: 1px solid transparent;
  border-radius: 4px;
}
.accordion[open] .accordion__icon {
	transform: rotate(45deg);
}





.box5 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.box5-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
  justify-content: space-around;
}
.box5-one {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.box5-one-1 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #18181B;
}
.box5-one-2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.1px; 
  color: #18181B;

  margin-top: 3%;
}
.box5-one-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.accordion-btn{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.box5-one-item {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin-top: 10%;
}
.box5-one-item img{
  width: 32px;
  height: 32px;
}
.box5-one-item span{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #18181B; 
  text-align: start;
  margin-top: 5%;
}
.box5-one-item p{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #27272A;
}
.box5-two {
  display: flex;
  width: 45%;
  align-items: center;
}






.box6 {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  background-color: #FAFAFA;
  padding-top: 7%;
  padding-bottom: 7%;
}
.box6-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.box6-6 h3{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #18181B;
}
.box6-6 h4{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #18181B; 

  margin-top:2%;
}
.box6-6 h5{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #27272A;
  
  margin-top:2%;
}
.box6-button {
  margin-top:3%;
}
.box6-button-class {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #18181B; 
  background-color: #FAFAFA;
  border: 1px solid #18181B;
  border-radius: 4px;
  padding: 1% 5%; 
}
.box6-button-class:hover {
  background-color: rgba(76, 253, 199, 1);
  border: 1px solid #FAFAFA;
}
.box6-button-class:active {
  background-color: #FAFAFA;
  border: 1px solid #18181B;
}
.box6-6 img{
  margin-top:5%;
}



.sliderNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}
.wrap {
	width: 65%;
  padding: 1%;

	margin: 0 auto;
	position: relative;
  background-color:#4CFDC7;
  box-shadow: 0px 0px 16px rgb(9 24 26 / 4%);
  transition: transform 0.5s ease 0s;
}
.box7-card {
  width: 60%;
  background: #FFFFFF;
  /* box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.4); */
  border-radius: 8px;
  padding-bottom: 1%;
  object-fit: cover; 
  
}
.sliderNew-item {
  box-shadow: 0px 0px 7px rgba(9, 24, 26, 0.1);
  padding: 1%;
	width: 100%;
	height: 100%;
  justify-content: center;
  
}
.prev,
.next {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 30px;
	z-index: 1;
	width: 12%;
	height: 100%;
	position: absolute;
	top: 0;
  cursor: pointer;
  transition: transform .5s, opacity .5s, background-color .5s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.prev:hover,
.next:hover {
	background-color: #10B981;
}
.sliderNew-dots {
	text-align: center;
	margin-top: 2%;
}
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #4CFDC7;
	border-radius: 50%;
	display: inline-block;
  transition: transform .5s, opacity .5s, background-color .5s;
}
.dot.dot-active,
.dot:hover {
	background-color: #10B981;
  transition: transform .5s, opacity .5s, background-color .5s;
}




.box7 {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.box7-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.box7-one {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #18181B;
  
}
.box7-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7%;
}
/* .box7-card {
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
  border-radius: 8px;
  padding-bottom: 1%; 
 
} */
.box7-card img{
}
.box7-card-txt{
  margin: 3%;
}
.box7-card h3{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #18181B;  
  background-color: rgba(189, 255, 235, 1);
  display: inline;
  margin-top: 2%;
}
.box7-card h4{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #18181B;  
  margin-top: 8%;
  margin-bottom: 9%;
}
.box7-card a{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #18181B;
  
}
.box7-card a:hover{
  color: rgb(64, 218, 172);
}
.uput7{
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s 0s;
}
.hide7__all{
  opacity: 0;
  visibility: hidden;
  max-height: 0px;
  padding: 0;
  margin: 0;
  transition: opacity 0.5s, visibility 0s 0.5s, max-height 0.5s ease-in-out, padding 0.5s, margin 0.5s;
}





.box8 {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  padding-top: 5%;
  border-top: #D4D4D8 1px solid;

}
.box8-8 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 90%;
}
.box8-one {
}
.box8-one img{
  width: 172px;
  height: 18px;
}
.box8-two {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box8-item,
.box8-item-1 {
  display: flex;
  flex-direction: column;
}
.box8-item h2,
.box8-item-1 h2{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #18181B; 
  
  margin-bottom: 20px;
}
.box8-item a,
.box8-item-1 a{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #3F3F46;

  margin-top: 10%;
}
.box8-item a:hover,
.box8-item-1 a:hover{
  color: rgb(64, 218, 172);
}
.box8-item a img,
.box8-item-1 a img{
  width: 76px;
  height: 24px;
}
.box8-social {
  display: flex;
  align-items: center;
}
.box8-social img{
  width: 16px;
  height: 16px;

  margin-top: 10%;
  margin-right: 5%;
}
.box8-social a{
}
.box8-social a:hover{
}
.box8-three {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #27272A;
  
  margin-top: 5%;
  margin-bottom: 1%;
}




@media  (max-width:1100px) {
  .box3-3{
    width: 70%;
  } 
}
@media  (max-width:950px) {
  .box1-one img {
    width: 150px;
    height: 15px;
  }
  .box1-two a {
    font-size: 13px;
  }
  .box1-two{
    width: 60%;
  }
  .box2-one h2{
    font-size: 50px;
    line-height: 60px;
  }
  .box2-one p{
    font-size: 17px;
  }
  .box3-3{
    width: 80%;
  } 
  .box4-one{
    font-size: 35px;
  }
  .box4-item img{
    width: 50px;
    height: 50px;
  }
  .box4-item p{
    font-size: 13px;
  }
  .box4-item h3{
    font-size: 17px;
  }
  .box5-one-1{
    font-size: 13px;
  }
  .box5-one-2{
    font-size: 35px;
  }
  .box5-one-item img{
    width: 25px;
    height: 25px;
  }
  .box5-one-item span{
    font-size: 13px;
  }
  .box5-one-item p{
    font-size: 11px;
    line-height: 16px;
  }
  .box6-6 h3{
    font-size: 13px;
  }
  .box6-6 h4{
    font-size: 35px;
  }
  .box6-6 h5{
    font-size: 13px;
  }
  .box6-button-class{
    font-size: 13px;
  }
  .box7-one{
    font-size: 25px;
  }
  .box7-card-txt h3{
    font-size: 10px;
  }
  .box7-card-txt h4{
    font-size: 18px;
  }
  .box7-card-txt a{
    font-size: 13px;
  }
  .box8-item h2{
    font-size: 10px;
  }
  .box8-item a{
    font-size: 9px;
  }
  .box8-one img {
    width: 150px;
    height: 15px;
  }
  .box8-three {
    font-size: 10px;
  }
}
@media  (max-width:880px) {
  .box1__burger-btn {
    display: block;
  }
  .box1__menu {
      position: absolute;
      right: -500px;
      top: 0;
      width: 350px;
      background-color: rgb(64, 218, 172);
      padding: 75px 20px 20px 20px;
      transition: transform .5s;
      justify-content: start;
      border-radius: 4px;
  }
  .menu__list {
      display: block;
  }
  .menu__link {
      color: white;
      font-size: 16px;
      display: block;
      padding: 10px 0;
  }
  .menu__link:hover {
    color: rgb(22, 124, 93);
  }
  .box1.open .box1__menu {
      transform: translateX(-100%);
  }
  .box1__buttons{
    display: flex;
    width: 60%;
    justify-content: end;
    align-items: center;
  }
  .box1__signup{
    margin-right: 5%;
    padding: 2% 3%;
  }
  .logo__img {
    width: 110px;
    height: 12px;
    align-items: center;
    display: flex;
  }
}
@media  (max-width:800px) {
  .modal__box {
    width: 400px;
    height: 430px;
    box-shadow: 0px 0px 10px rgba(9, 24, 26, 0.04);
    border-radius: 4px;
  }
  .modal__box img{
    width: 150px;
    height: 15px;
    margin-left: 26px;
  }
  .signtxt{
    font-size: 25px;
    line-height: 35px;
    margin-top: 5%;
  }
  .signtxt h3{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0px 26px;
  }
  form{
    margin-left: 26px;
  }
  input[type="email"],
  input[type="password"]{
    font-size: 13px;
  } 
  input::placeholder[type="email"],
  input::placeholder[type="password"] {
    font-size: 13px;
  }
  input::placeholder[type="button"] {
    font-size: 15px;
  }
  .form__input{
    padding-left: 13px;
    height: 50px;
  }
  input[type="button"]{
    padding-left: 13px;
    height: 50px;
    font-size: 15px;
    margin-top: 15px;
  }





  .box2-one h2{
    font-size: 40px;
    line-height: 50px;
  }
  .box2-one p{
    font-size: 13px;
  }
  .box2-one img {
    width: 120px;
    height: 15px;
  }
  .box3-3{
    width: 90%;
  } 
  .box3-three-item-1 p{
    font-size: 12px;
  }
  .box3-three-item-2 h3{
    font-size: 12px;
  }
  .box3-three-item-2 p{
    font-size: 12px;
  }
  .box3-three-item-3 h4{
    font-size: 12px;
  }
  .box3-three-item-3 h5{
    font-size: 12px;
  }
  .box3-three-item-3 img {
    width: 13px;
    height: 13px;
  }
  .box4-one{
    font-size: 30px;
  }
  .box4-item img{
    width: 45px;
    height: 45px;
  }
  .box4-item p{
    font-size: 11px;
    
  }
  .box4-item h3{
    font-size: 13px;
  }
  .box5-one-1{
    font-size: 11px;
  }
  .box5-one-2{
    font-size: 30px;
  }
  .box5-one-item span{
    font-size: 11px;
  }
  .box5-one-item p{
    font-size: 10px;
    line-height: 14px;
  }
  .accordion__icon {
    width: 22px;
    height: 22px;
  }
  .box6-6 h3{
    font-size: 11px;
  }
  .box6-6 h4{
    font-size: 30px;
  }
  .box6-6 h5{
    font-size: 11px;
  }
  .box6-button-class{
    font-size: 11px;
  }
  .box7-one{
    font-size: 20px;
  }
  .box7-card-txt h3{
    font-size: 9px;
  }
  .box7-card-txt h4{
    font-size: 15px;
    line-height: 25px;
  }
  .box7-card-txt a{
    font-size: 11px;
  }
  .box8-item h2{
    font-size: 9px;
  }
  .box8-item a{
    font-size: 9px;
  }
  .box8-one img {
    width: 150px;
    height: 15px;
  }
  .box8-three {
    font-size: 9px;
  }
}
@media  (max-width:720px) {
  .box7-7 {
    width: 85%;
  }
}
@media  (max-width:700px) {
  .box1-burger {
    width: 50%;
  }
  .box2-one {
    width: 90%;
  }
  .box5-5{
    flex-direction: column;
  }
  .box4-4{
    width: 90%;
  }
  .box5-one {
    width: 75%;
  }
  .box5-two {
    width: 75%;
    margin-top: 10%;
  }
}

@media  (max-width:520px) {  
  .menu__link {
    font-size: 13px;
    line-height: 16px;
  }
  .modal__box {
    width: 300px;
    height: 310px;
    box-shadow: 0px 0px 12px rgba(9, 24, 26, 0.04);
  }
  .modal__box img{
    width: 120px;
    height: 12px;
    margin-left: 15px;
  }
  .signtxt{
    font-size: 20px;
    line-height: 30px;
  }
  .signtxt h3{
    margin: 0px 15px;
  }
  form{
    margin-left: 15px;
    width: 90%;
  }
  input[type="email"],
  input[type="password"]{
    font-size: 11px;
  } 
  input::placeholder[type="email"],
  input::placeholder[type="password"] {
    font-size: 11px;
  }
  input::placeholder[type="button"] {
    font-size: 12px;
  }
  .form__input{
    padding-left: 15px;
    height: 35px;
    max-width: 427px;
    margin-top: 10px;
  }
  input[type="button"]{
    padding-left: 15px;
    height: 35px;
    max-width: 427px;;
    font-size: 12px;
    margin-top: 7px;
  }
  .dot {
    height: 6px;
    width: 6px;
  }
  .box8-item-1 {
    display: none;
  }
  .box2-one h2{
    font-size: 30px;
    line-height: 40px;
  }
  .box2-one p{
    font-size: 11px;
  }
  .box3-3{
    width: 90%;
  } 
  .tabs__nav-btn{
    font-size: 11px;
  }
  .txt3-one-1{
    font-size: 11px;
  }
  .txt3-one-2{
    font-size: 11px;
  }
  .txt3-two-1{
    font-size: 11px;
  }
  .txt3-two-2{
    font-size: 11px;
  }
  .txt3-two-3{
    font-size: 11px;
  }
  .box3-three-item-1 img {
    width: 25px;
    height: 25px;
  }
  .box3-three-button {
    font-size: 10px;
  }
  .box3-three-item-1 p{
    font-size: 10px;
  }
  .box3-three-item-2 h3{
    font-size: 10px;
  }
  .box3-three-item-2 p{
    font-size: 10px;
  }
  .box3-three-item-3 h4{
    font-size: 10px;
  }
  .box3-three-item-3 h5{
    font-size: 10px;
  }
  .box3-three-item-3 img {
    width: 11px;
    height: 11px;
  }
  .box4-one{
    font-size: 20px;
  }
  .box4-item img{
    width: 35px;
    height: 35px;
  }
  .box4-item p{
    font-size: 10px;
  }
  .box4-item h3{
    font-size: 11px;
  }
  .box5-one{
    width: 85%;
  }
  .box5-two{
    width: 85%;
  }
  .box5-one-1{
    font-size: 10px;
  }
  .box5-one-2{
    font-size: 20px;
    line-height: 30px;
  }
  .box5-one-item span{
    font-size: 11px;
  }
  .box5-one-item p{
    font-size: 10px;
  }
  .accordion__icon {
    width: 15px;
    height: 15px;
  }
  .box6-6 h3{
    font-size: 11px;
  }
  .box6-6 h4{
    font-size: 25px;
    line-height: 30px;
  }
  .box6-6 h5{
    font-size: 10px;
  }
  .box6-button-class{
    font-size: 10px;
  }
  .box7-one{
    font-size: 17px;
  }
  .box7-card-txt h3{
    font-size: 9px;
  }
  .box7-card-txt h4{
    font-size: 11px;
    line-height: 20px;
  }
  .box7-card-txt a{
    font-size: 9px;
  }
  .box8-item h2{
    font-size: 8px;
  }
  .wrap {
    width: 85%;
  }
  .box8-item a{
    font-size: 8px;
    line-height: 10px;
  }
  .box8-one img {
    width: 150px;
    height: 15px;
  }
  .box8-three {
    font-size: 9px;
  }
}
@media  (max-width:440px){
  .box1-burger {
    width: 40%;
  }
  .box2-two {
    width: 50%;
  }
}
@media  (max-width:390px){
  .box1-burger {
    width: 30%;
  }
  .box8-item-1 {
    display: none;
  }
  .box2-one h2{
    font-size: 20px;
    line-height: 30px;
  }
  .box2-one p{
    font-size: 10px;
    line-height: 20px;
  }
  .box3-3{
    width: 90%;
  } 
  .txt3-one-1{
    font-size: 10px;
  }
  .txt3-one-2{
    font-size: 10px;
  }
  .txt3-two-1{
    font-size: 10px;
  }
  .txt3-two-2{
    font-size: 10px;
  }
  .txt3-two-3{
    font-size: 10px;
  }
  .box3-three-item-1 img {
    width: 20px;
    height: 20px;
  }
  .box3-three-button {
    font-size: 9px;
  }
  .box3-three-item-1 p{
    font-size: 9px;
  }
  .box3-three-item-2 h3{
    font-size: 9px;
  }
  .box3-three-item-2 p{
    font-size: 9px;
  }
  .box3-three-item-3 h4{
    font-size: 9px;
  }
  .box3-three-item-3 h5{
    font-size: 9px;
  }
  .box3-three-item-3 img {
    width: 10px;
    height: 10px;
  }
  .box4-one{
    font-size: 15px;
  }
  .box4-item img{
    width: 30px;
    height: 30px;
  }
  .box4-item p{
    font-size: 9px;
    line-height: 18px;
  }
  .box4-item h3{
    font-size: 10px;
  }
  .box5-one{
    width: 88%;
  }
  .box5-two{
    width: 88%;
  }
  .box5-one-1{
    font-size: 9px;
  }
  .box5-one-2{
    font-size: 15px;
    line-height: 25px;
  }
  .box5-one-item span{
    font-size: 10px;
  }
  .box5-one-item p{
    font-size: 9px;
    line-height: 18px;
  }
  .box6-6 h3{
    font-size: 10px;
  }
  .box6-6 h4{
    font-size: 15px;
    line-height: 25px;
  }
  .box6-6 h5{
    font-size: 9px;
    line-height: 18px;
  }
  .box6-button-class{
    font-size: 9px;
  }
  .box7-one{
    font-size: 15px;
  }
  .box7-card-txt h3{
    font-size: 8px;
  }
  .box7-card-txt h4{
    font-size: 10px;
    line-height: 15px;
  }
  .box7-card-txt a{
    font-size: 8px;
  }
  .box8-item h2{
    font-size: 8px;
  }
  .box8-item{
    width: 25%;
  }
  .box8-item a{
    font-size: 7px;
    line-height: 9px;
  }
  .box8-one img {
    width: 110px;
    height: 12px;
  }
  .box8-three {
    font-size: 7px;
    line-height: 12px;
  }
}